/* Gmaps.css */

.markerName {
	color:blue;
	text-decoration: underline;
	font-size: 16px;
}

.markerDescription {
	font-size: 12px;
}

#gmapdescriptionheading	{
	font-size: 14px;
}

#gmapdescription {
	font-size: 12px;
}

#markerlistHeading {
	font-size: 14px;
	font-weight: bold;	
}

#markerList {
	font-size: 10px;
	padding-bottom: 10px;
}
#gmapheading h3 {
	font-size:14px;
	text-decoration: underline;
}


/* THE FOLLOWING STYLE RULES APPLY TO THE MAP LIST ON THE FRONT END */
.gmapidheading {
	display:none;
}
.gmaptitleheading {
}
.gmapdescriptionheading {
}
.gmapid {
	display: none;
}
.gmapdescription {
	color: blue;
}
.gmaptitle {
	color: yellow;
}