<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Business Card Job Description</title>
<script type="text/javascript">
function MM_showHideLayers() { //v9.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) 
  with (document) if (getElementById && ((obj=getElementById(args[i]))!=null)) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v=='hide')?'hidden':v; }
    obj.visibility=v; }
}
</script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<style type="text/css">
</style>
</head>

<body ng-app="">
<div id="select_product">

</div>
<div id="business_card">
<form action="../PrintingQuote_FormMailer.php" method="post" enctype="application/x-www-form-urlencoded" name="BusinessCardOptions" id="BusinessCardOptions" autocomplete="on" onsubmit="MM_validateForm('customer_name','','R','contact_email','','RisEmail','project_name','','R','print_quantity','','RisNum','custom_cut_width','','NisNum','custom_cut_height','','NisNum','billing_address','','R','shipping_address','','R');return document.MM_returnValue" accept-charset="UTF-8" onfocus="MM_showHideLayers('business_card','','hide')">
   <input type="hidden" name="subject" value="Business Card Form Submission" /> 
<input type="hidden" name="redirect" value="PrintFileUpload.html" />
    <label for="textfield"><span class="list2">Business Card Job Description</span><br />
    <br />
  </label>
    <table cellpadding="5" cellspacing="3" id="BusinessCardOptions">
      <tr>
        <td><label for="textfield">Customer Name:</label></td>
        <td><input type="text" name="customer_name" id="customer_name" ng-model="customer_name" />
            <label for="textfield"><span class="style1">*<span class="style4">Required</span></span></label></td>
      </tr>
      <tr>
        <td><label for="textfield">Contact Email:</label></td>
        <td><input type="text" name="contact_email" id="contact_email" ng-model="contact_email" />
            <label for="textfield"><span class="style1">*<span class="style4">Required</span></span></label></td>
      </tr>
      <tr>
        <td><label for="textarea">Billing Address:</label></td>
        <td><textarea name="billing_address" rows="5" id="billing_address" ng-model="billing_address"></textarea>
            <label for="textfield"><span class="style1">*<span class="style4">Required</span></span></label></td>
      </tr>
      <tr>
        <td><label for="textarea">Shipping Address:</label></td>
        <td><textarea name="shipping_address" rows="5" id="shipping_address" ng-model="shipping_address"></textarea>
            <label for="textfield"><span class="style1">*<span class="style4">Required</span></span></label></td>
      </tr>
      <tr>
        <td><label for="textfield">Project Name:</label></td>
        <td><input type="text" name="project_name" id="project_name" ng-model="project_name"/>
            <span class="style1"> *<span class="style4">Required</span></span></td>
      </tr>
      <tr>
        <td><label for="textfield">Print Quantity:</label></td>
        <td>            <select name="print_quantity" required id="print_quantity" ng-model="print_quantity">
          <option selected>Select</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
          <option value="2500">2500</option>
          <option value="5000">5000</option>
          <option value="7500">7500</option>
          <option value="10000">10000</option>
          <option value="15000">15000</option>
          <option value="20000">20000</option>
          <option value="25000">25000</option>
          <option value="30000">30000</option>
          <option value="40000">40000</option>
          <option value="50000">50000</option>
          <option value="60000">60000</option>
          <option value="70000">70000</option>
          <option value="80000">80000</option>
          <option value="90000">90000</option>
          <option value="100000">100000</option>
            </select>
            *<span class="style4">Required</span></td>
      </tr>
      <tr>
        <td><label for="textfield">Print Type:</label></td>
        <td><select name="print_type" required id="print_type" ng-model="print_type">
          <option selected>Select</option>
          <option value="14pt. Premium Matte (Recycled)">14pt. Premium Matte (Recycled)</option>
          <option value="14pt. Premium Linen (Uncoated)">14pt. Premium Linen (Uncoated)</option>
          <option value="14pt. Premium Uncoated">14pt. Premium Uncoated</option>
          <option value="14pt. C1S (Coated One Side)">14pt. C1S (Coated One Side)</option>
          <option value="14pt. C2S (Coated Both Sides)">14pt. C2S (Coated Both Sides)</option>
          <option value="16pt. C2S (Coated Both Sides)">16pt. C2S (Coated Both Sides)</option>
          <option value="60 lb. Semi-Gloss Adhesive Back">60 lb. Semi-Gloss Adhesive Back</option>
        </select>
        <span class="style1">*<span class="style4">Required</span></span></td>
      </tr>
    </table>
    <br />
  <p class="list2">What type of file are you uploading to our system?</p>
  <p>
  <select name="type_of_file_upload" ng-model="type_of_file_upload">
  	<option value="PDF (FREE)">PDF</option>
    <option value="Native Application ($8.00)">Native Application ($8.00)</option>
  </select>
   <br/> 
   <a href="#native_application_specs" onClick="MM_showHideLayers('native_application_specs','','hide','native_application_specs','','show')">Native Applications Accepted</a>
   <div id="native_application_specs" onClick="MM_showHideLayers('native_application_specs','','show')">Native Application - (Adobe Illustrator (.AI), Adobe Photoshop (.PSD), Publisher (.PUB), Corel (.EPS), QuarkXPress, Adobe InDesign, Uncompressed JPEG.)</div>
  <p>
    <span class="list2">File Submission Options</span></p>
  <p>
    <label>
      <input type="radio" name="file_submission_options" value="File Upload Free" ng-model="file_submission_options" />
      File Upload — We prefer that you upload your project through our system.</label>
    <br />
    <label>
      <input type="radio" name="file_submission_options" value="Disk Submission $15.00" ng-model="file_submission_options" />
      Disk Submission — You can also mail your disk to us with a copy of your order. We offer this for customers that have trouble uploading files through standard dial-up. ($15.00)</label>
  </p>
  <p>
    <span class="list2">Proof Options </span></p>
  <p>
    <label>
      <input type="radio" name="proof_options" value="PDF Proof $10.00" ng-model="proof_options" />
      PDF Proof — I want to see a PDF Proof before the job is printed. I understand that my job will not start until I have approved the PDF Proof. ($10.00) </label>
    <br />
    <label>
      <input type="radio" name="proof_options" value="No Proof Free" ng-model="proof_options"/>
      No Proof — We highly recommend you choose a PDF Proof or Hard Copy Proof option. By choosing the no proof option, although it expedites your job, there are known risks. By choosing this option, you approve this job to print, &quot;as is&quot; and accept full responsibility for all content and typographical errors and understand that there will be no refunds if there are any problems with the job. When selecting the no proof option, your job will be processed immediately through our automated system. I understand that once this order is submitted I cannot make any changes either to the file or to the production schedule requested. </label>
    <br />
    <label>
      <input type="radio" name="proof_options" value="Hard Copy Proof $15.00" ng-model="proof_options"/>
      Hard Copy Proof — I want to see a Hard Copy Proof before the job is printed. I understand that my job will not start until I have approved the Hard Copy Proof. ($15.00)</label>
  </p>
  <p>
    <span class="list2">Custom Cutting </span></p>
  <p><span class="font11">&nbsp;As a Courtesy we allow a CUSTOM CUT option for this product. We will cut original product size &nbsp;ordered to the flat size you requested one (1) out for FREE. Please add correct amount of dollars for additional number &nbsp;outs. </span><br />
      <select name="custom_cut_out" class="formdrops" ng-model="custom_cut_out">
        <option value="None" selected>No Custom Cutting</option>
        <option value="Free">One Out Custom Cut - FREE</option>
        <option value="$6.00">Two Custom Cut - $6</option>
        <option value="$10.00">Three Custom Cut - $10</option>
        <option value="$14.00">Four Custom Cut - $14</option>
        <option value="$18.00">Five Custom Cut - $18</option>
        <option value="$22.00">Six Custom Cut - $22</option>
        <option value="$26.00">Seven Custom Cut - $26</option>
        <option value="$30.00">Eight Custom Cut - $30</option>
        <option value="$34.00">Nine Custom Cut - $34</option>
        <option value="$38.00">Ten Custom Cut - $38</option>
        <option value="$42.00">Eleven Custom Cut - $42</option>
        <option value="$46.00">Tweve Custom Cut - $46</option>
      </select>
      <br />
      <br />
      <span class="fontBold">If you would like to take advantage of the option please use the space provided to &nbsp;specify final trim size in inches.</span><br />
      <label> Width:
        <input name="custom_cut_width" type="text" id="custom_cut_width" ng-model="custom_cut_width"/>
      </label>
    Inches<br />
    <br />
    <label>Height:
      <input name="custom_cut_height" type="text" id="custom_cut_height" ng-model="custom_cut_height" />
      Inches </label>
  </p>
  <p><span class="list2">Samples Options</span></p>
  <p>
    <label>
      <input type="radio" name="sample_options" value="No Samples Wanted" ng-model="sample_options"/>
      No Samples — No Drop-Ship Samples</label>
    <br />
    <label>
      <input type="radio" name="sample_options" value="Drop-Ship Samples $15.00" ng-model="sample_options"/>
      Drop-Ship Samples — 10 samples will be pulled from your order quantity and shipped to the address provided ($15.00)<br />
      <br />
    </label>
    <br />
    <span class="list2">Save Files Options </span></p>
  <p>
    <label>
      <input type="radio" name="save_files_options" value="No Save Files - Free" ng-model="save_files_options" />
      No Save Files — No Save Files</label>
    <br />
    <label>
      <input type="radio" name="save_files_options" value="Save Files - $15.00" ng-model="save_files_options"/>
      Save Files — Your files will be saved in the system for six months. One week prior to expiration, you will receive an email notification allowing you to either continue or discontinue saving your files in the system. If you choose to &quot;discontinue&quot; the service your files will be permanently deleted. If you choose to &quot;continue&quot; the system will continue to save files for another six months. Please note: The system will automatically charge a renewal fee of $15.00 to the credit card previously stored in your account. ($15.00)</label>
  </p>
  <p><span class="list2">Shrink Wrapping Options </span> </p>
  <p>
    <label>
      <input type="radio" name="shrink_wrapping_options" value="No Shrink Wrapping - Free" ng-model="shrink_wrapping_options"/>
      No Shrink Wrapping</label>
    <br />
    <label>
      <input type="radio" name="shrink_wrapping_options" value="Shrink Wrap in 25's ($15.00 setup - $0.50/25)" ng-model="shrink_wrapping_options"/>
      Shrink Wrap in 25's ($15.00 setup - $0.50/25)</label>
    <br />
    <label>
      <input type="radio" name="shrink_wrapping_options" value="Shrink Wrap in 50's ($15.00 setup - $0.50/50)" ng-model="shrink_wrapping_options"/>
      Shrink Wrap in 50's ($15.00 setup - $0.50/50)</label>
    <br />
    <label>
      <input type="radio" name="shrink_wrapping_options" value="Shrink Wrap in 100's ($15.00 setup - $0.50/100)" ng-model="shrink_wrapping_options"/>
      Shrink Wrap in 100's ($15.00 setup - $0.50/100)</label>
  </p>
  <p><span class="list2">Drilling Options</span></p>
  <p>
    <label>
      <input type="radio" name="drilling_options" value="No Drilling - Free" ng-model="drilling_options"/>
      No Drilling</label>
    <br />
    <label>
      <input type="radio" name="drilling_options" value="1 Hole 1/8 inch Drilling ($20.00 setup - $3.00/250)" ng-model="drilling_options"/>
      1 Hole 1/8 inch Drilling ($20.00 setup - $3.00/250)</label>
  </p>
  <p><span class="list2">Coating Options</span></p>
  <p>
    <label>
      <input type="radio" name="coating_options" value="AG/0 &mdash; Aqueous Gloss Front - Uncoated Back" ng-model="coating_options"/>
      AG/0 — Aqueous Gloss Front - Uncoated Back</label>
    <br />
    <label>
      <input type="radio" name="coating_options" value=" UV/0 &mdash; UV Gloss Front - Uncoated Back ($0.00 setup - $4.00/1000) " ng-model="coating_options"/>
      UV/0 — UV Gloss Front - Uncoated Back ($0.00 setup - $4.00/1000) </label>
  </p>
  <p> <span class="list2">Terms and Conditions</span></p>
  <p>
    <label>
      <input name="terms_and_agreement" type="checkbox" id="terms_and_agreement" value="agree"/>
      I agree to the <a href="../SubmissionGuideline_Pages/TermsandConditions.html">terms and conditions</a> of MyPrintingDeals.com </label>
  </p>
  <div style="border-width:3px; border-color:#09C; border-style:outset; padding: 15px; width: 500px; margin-left:20%;">
  <h3>Quote Specification Preview:</h3>
<p>Customer Name: {{ customer_name }}<br/>
Customer Email: {{ customer_email }}<br/>
Billing Address: {{ billing_address }}<br/>
Shipping Address: {{ shipping_address }}<br/>
Project Name: {{ project_name }}<br/>
Print Quantity: {{ print_quantity }}<br/>
Print Type: {{ print_type }}<br/>
File Upload Type: {{ type_of_file_upload }}<br/>
File Submission Option: {{ file_submission_options }}<br/>
Proof Option: {{ proof_options }}<br/>
Custom Cutting Option: {{ custom_cut_out }}<br/>
Custom Cut Width: {{ custom_cut_width }}<br/>
Custom Cut Height: {{ custom_cut_height }}<br/>
Sample Options: {{ sample_options }}<br/>
Save File Options: {{ save_files_options }}<br/>
Shrink Wrapping Options: {{ shrink_wrapping_options }}<br/>
Drilling Options: {{ drilling_options }}<br/>
Coating Options: {{ coating_options }}<br/>
</p>
</div>
  <p>
    <input type="submit" name="Submit" value="Submit" />
  </p>
</form>
</div>

</body>
</html>
