<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Design Studio - Business Cards</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body ng-app="" ng-controller="myCtrl">
<div>
 	<p>Name: <input type="text" ng-model="name"></p>
    <p>Address: <input type="text" ng-model="address"></p>
    <p>Address 2: <input type="text" ng-model="address2"></p>
    <p>City: <input type="text" ng-model="city"></p>
    <p>State: <input type="text" ng-model="state"></p>
  <p>Zipcode: <input type="text" ng-model="zipcode"></p>
  
  
      <p>
                      <label>
                        <input type="radio" name="fontWeight" ng-model="fontWeight" value="regular" id="fontWeight1_0">
        regular</label>
                      <br>
                      <label>
                        <input type="radio" name="fontWeight" value="bold" id="fontWeight1_1">
                        Bold</label>
                      <br>
  </p>
  __________________________
<h1>Hello {{name}}</h1>
</div>
<div>
    <p>The name is <span data-ng-bind="name"></span></p>
</div>
<div style="background-image:{{ backgroundImageSelected }};">
	<table style="font-size:{{fontSize}}; font-weight: {{ fontWeight }};"><tr><td></td><td colspan="2">{{name}}</td></tr><tr><td></td><td colspan="2">{{address}}</td></tr>
    <tr><td></td><td colspan="2">{{address2}}</td></tr>
    <tr><td></td>
      <td>{{city}},</td><td>{{state}}</td></tr>
    <tr><td></td><td>{{zipcode}}</td><td></td></tr>
    </table>
</div>
</body>
</html>
